@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    padding: 0; margin: 0;
    color: #333;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* 
HIDE SCROLLBAR FOR .page-area
*/
.page-area::-webkit-scrollbar {
    display: none;
} */

a {
    color: #1c77ee;
    font-weight: 500;
    /* text-decoration: inherit; */
}


.container {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
}

.page-navigation {
    position: absolute;
    width: 300px;
    top: 0; bottom: 0;
    left: 0;
    background-color: #e5e5e5;
    border-right: 0.5px solid #aaa3;
    transform: translateX(-100%);
    transition: transform 250ms ease;
    z-index: 100;
}
    .page-navigation .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        font-weight: 600;
        font-size: 20px;
    }
        .page-navigation .header .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    .page-navigation .nav-links {
        display: flex;
        flex-direction: column;
        padding: 1em;
    }  
        .page-navigation .nav-links button {
            padding: 0; margin: 0;
            border: none; outline: none;
            background: none;
            text-align: left;
            padding: 0.8em;
            font-size: 20px;
            transition: color 100ms ease;
            cursor: pointer;
        }  
        .page-navigation .nav-links button:hover {
            color: #1c77ee;
        }  
    




.page-viewport {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
}
    .page-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f6f6f6;
        border-bottom: 0.5px solid #aaa3;
        height: 60px; /* Navigation Height here */
        width: 100%;
        position: fixed;
        top: 0;
        padding: 0 1em;
    }
        .page-header .icon {
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
            .page-header .icon svg {
                width: 85%;
                height: 85%;
            }
        .page-header .title-content {
            font-size: 20px;
            font-weight: 600;
            position: fixed;
            top: 0; left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            height: 60px; /* Navigation Height here */
        }
        .page-header .link-area {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
            .page-header .link-area span {
                margin-left: 0.8em;
            }

    .page-content {
        position: absolute;
        top: 60px; bottom: 0;
        left: 0; right: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
        .page-area {
            width: 100%;
            max-width: 1200px; /* Change the size of the page area */
            overflow: auto;
            padding: 2.5em 1em;
        }